<!DOCTYPE html>
<html>
  <head>
    <title>Powered By Tanzu Buildpacks</title>
  </head>
  <body>
    <h1>Powered By Tanzu Buildpacks</h1>
    <h2>Running on Ubuntu {{ os }}</h2>
    <img src="https://github.com/arulvannala/python-os-sample/blob/main/templates/tanzu.png?raw=true" alt="Description of image" width="400" height="300">
    <img src="https://github.com/arulvannala/python-os-sample/blob/main/templates/security.png?raw=true" alt="Description of image" width="400" height="300">
     <img src="https://github.com/arulvannala/python-os-sample/blob/main/templates/loop.png?raw=true" alt="Description of image" width="400" height="300">
   
   
    

  </body>
</html>
